
.paginator {
    margin: 15px;
    font-size: 25px;
    display: flex;
}
.pageNumber {
    color: gray;
    padding: 5px;
    cursor: pointer;
    height: 30px;
    min-width: 30px;
    text-align: center;
}
.pageNumber:hover {
    border-bottom: 3px solid #e5e7eb;
}

.pageNumber.selectedPage {
    border-bottom: 3px solid #447bba;
    color: black;
}
.arrows {
    width: 40px;
    height: 40px;
    cursor: pointer;
}