.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.wrapper {
    font-size: 30px;
}


.user {
    display: grid;
    grid-template-areas: 
    "icon name name"
    "icon status status"
    ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    margin: 8px;
    padding: 8px;
    justify-content: start;
}
.user_icon {
    grid-area: icon;
    padding-right: 8px;
}
.user_name {
    word-break:break-all;
    grid-area: name;
    padding-right: 8px;
    font-size: 25px;
    font-weight: bold;
}
.user_id {
    font-size: 20px;
    color: #d2d6db;
}
.user_status {
    grid-area: status;
    word-break:break-all;
    font-size: 20px;
}
.linkToProfile {
    color:black;
}
.linkToProfile:visited {
    color:black;
}
.linkToProfile:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .user_name {
        font-size: 20px;
    }
    .user_status {
        font-size: 15px;
    }
}