.navigation {
    grid-area: nav;
    padding: 25px;
    font-size: 25px;
    /* background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    min-width: 150px;
}
.navigation_element {
    padding:4px;
}
.navigation_element:hover {
    background-color: #e5e7eb;
    border-radius: 6px;
}


.item{
    color:black;
    display: block;
}


.active { 
    color: #447bba;

    display: block;
}

a {
    text-decoration: none;
    cursor:pointer; 
    /* для навлинков, у которых почему-то пропал поинтер */
}
