.navigation {
    grid-area: nav;
    background-color: rgb(9, 20, 56);
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
}

.item{
    color:white;
}


.active { 
    color: gold;
}

a {
    text-decoration: none;
    cursor:pointer; 
    /* для навлинков, у которых почему-то пропал поинтер */
}

