
.description {
    display: grid;
    grid-template-areas: 'img info';
    justify-content: flex-start;

    padding: 10px;
    font-size: 20px;
    .description__img_and_status{
        padding-right: 20px;
        .photo {
            width: 250px;
            height: 250px;
            border-radius: 20%;
            grid-area: 'img';
        }
        .status {
            width: 250px;
            word-break: break-all;
        }
    }
    .description__info {
        grid-area: 'info';
        .description__info__contacts {
            border: dashed 1px;
            background-color: rgb(204, 203, 255);
            padding: 10px;
        }
    }
}
.change__status {
    cursor:pointer; 
}