.form__control {
    &.error input,
    &.error textarea { border: solid red 2px;}
    &.error span { color: rgb(156, 3, 3); }
}
.formSummaryError {
    border: solid red 2px;
    padding: 5px;
    color: rgb(156, 3, 3);
}

