.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  grid-template-areas: 
  "head head"
  "nav main"
  ;

  width: 1200px;
  margin: 0 auto; 
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.8);
}


.app-wrapper-content {
  grid-area: main;
  background-color: rgb(152, 152, 219);
}